$respondent-blue: #2196f3;
// Font
$font-color: black;


// Layout
$content-padding__horizontal: 2.0rem;
$content-padding__top: 1.4rem;
$content-padding__bottom: 1.7rem;

$content-block-border: 1px solid #aaa;
$industry-tile-border: 1px solid #666;
